h1 {
  text-align: center;
}

.square {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  text-align: center;
  font-size: 175px;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  width: 620px;
  margin: 0 auto;
}